STUN_URL=stun:stun.l.google.com:19302
TURN_URL=turn:your-turn-domain.example:3478?transport=udp
TURN_USERNAME=this_is_your_username
TURN_PASSWORD=this_is_your_password
SIGNAL_BASE_URL=http://your-turn-domain:8080